<section class="login-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Enter your email"
        formControlName="email"
      />
      <mat-hint>Please enter Email</mat-hint>
      <mat-error>Email is Invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your Password"
        formControlName="password"
      />
      <mat-hint>Please enter Password</mat-hint>
      <mat-error>Password must be valid</mat-error>
    </mat-form-field>
    <button
      *ngIf="!(isLoading$ | async)"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Submit
    </button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
