<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="400px" fxFlex.xs="100%">
    <mat-card-title fxLayoutAlign="center">
      New Training Item
    </mat-card-title>
    <mat-form-field fxLayoutAlign="center">
      <mat-select placeholder="Excercises" [(ngModel)]="selectedValue" name="item">
        <mat-option value="crunches">
          Crunches
        </mat-option>
        <mat-option value="touch-toes">
          Touch Toes
        </mat-option>
        <mat-option value="side-lunges">
          Side Lunges
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button (click)="onStartTraining()">Submit</button>
    </mat-card-actions>
  </mat-card>
</section>